services:
  postgresql-1:
    image: postgres:13
    container_name: postgresql-1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - ./postgresql-1/config/postgresql.conf:/usr/share/postgresql/postgresql.conf.sample
      - ./postgresql-1/config/pg_hba.conf:/etc/postgresql/pg_hba.conf
      - pgdata1:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - postgres_network
    command: ["postgres", "-c", "config_file=/usr/share/postgresql/postgresql.conf.sample"]

  postgresql-2:
    image: postgres:13
    container_name: postgresql-2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - ./postgresql-2/config/postgresql.conf:/usr/share/postgresql/postgresql.conf.sample
      - ./postgresql-2/config/pg_hba.conf:/etc/postgresql/pg_hba.conf
      - pgdata2:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - postgres_network
    command: ["postgres", "-c", "config_file=/usr/share/postgresql/postgresql.conf.sample"]

  # Optional: PgBouncer for connection pooling
  pgbouncer:
    image: edoburu/pgbouncer
    container_name: pgbouncer
    environment:
      DB_HOST: postgresql-1
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: password
    ports:
      - "6432:6432"
    networks:
      - postgres_network

volumes:
  pgdata1:
  pgdata2:

networks:
  postgres_network:
    driver: bridge
